.search {
	background-color: #183049;
	padding: 2rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1.5rem;
}

.search p {
	color: #a3c5eb;
}

.search_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.search_container input,
.search_container button {
	border: none;
	border-radius: 0.5rem;
	padding: 0.6rem;
}

.search_container button {
	background-color: #0e1129;
	cursor: pointer;
}
.search_container button:hover {
	background-color: #171d44;
}