.user{
	background-color: #0c455f;
	padding: 2rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.2rem;
}

.user img {
	width: 140px;
	border: 0.2rem solid #1497a8;
	border-radius: 50%;
}

.location {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.location svg {
	fill: #1eb5cf;
	font-size: 1.5rem;
}

.location span {
	color: #a3c5eb;
	font-size: 1.2rem;
	font-weight: bold;
}

.stats {
	display: flex;
}

.stats div {
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.stats div:first-child {
	border-right: 1px solid #a3c5eb;
}

.stats .number {
	background-color: #4ed8c7;
	padding: 0.2rem 0.4rem;
	border-radius: 0.5rem;
	font-size: 1.5rem;
	font-weight: bold;
}

.user a {
	background-color: #1691c2;
	padding: 1rem;
	border-radius: 0.5rem;
	opacity: 0.8;
	transition: .3s;
	font-size: 1.2rem;
	font-weight: bold;
	text-decoration: none;
}

.user a:hover {
	opacity: 1;
}